h1,
h2,
h3,
h4,
li,
p {
  font-family: sans-serif;
}
h1,
h2,
h3 {
  color: #ff7f50;
}
p {
  color: #4b4b4b;
}
h1 {
  font-size: 24px;
  font-style: italic;
  text-transform: uppercase;
  color: rgb(161, 175, 123);
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  text-transform: uppercase;
  text-align: center;
}
li {
  size: 20px;
}
p {
  line-height: 1.5;
}
/*  make the paragraphe in the footer more small*/

/* make the paragraph instead of header of article men italic */
article header p {
  font-style: italic;
}
.related {
  list-style-type: none;
}
#footer {
  font-size: 14px;
  text-align: center;
}
.related-author {
  color: burlywood;
  font-size: 18px;
  font-weight: bold;
}
.main-header {
  background-color: #e7e6e6;
}
aside {
  background-color: #e7e6e6;
  border-top: 5px solid #158989;
  border-bottom: 5px solid #158989;
}
/* body {
  background-color: blue;
} */
/* Pseudo classes */
li:last-child {
  font-weight: bold;
}
li:nth-child(2) {
  color: #ffa500;
}
li:nth-child(even) {
  color: green;
}
li:nth-child(odd) {
  color: red;
}
article p:first-child {
  color: #9acd32;
}
article p:last-child {
  color: red;
}
/* .article-header p:first-child {
  color: green;
} */
