h1,
h2,
h3,
h4,
li,
p {
  font-family: sans-serif;
}
h1 {
  font-size: 24px;
  font-style: italic;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  text-transform: uppercase;
  text-align: center;
}
li {
  size: 20px;
}
p {
  line-height: 1.5;
}
/*  make the paragraphe in the footer more small*/
footer p {
  font-size: 14px;
}
/* make the paragraph instead of header of article men italic */
article header p {
  font-style: italic;
}
