* {
  /* border: 1px solid red; */
}
body {
  color: #4b4b4b;
}
h1,
h2,
h3,
h4,
li,
p {
  font-family: sans-serif;
}
h1,
h2,
h3 {
  color: #ff7f50;
}
p {
  color: #4b4b4b;
}
h1 {
  font-size: 24px;
  font-style: italic;
  text-transform: uppercase;
  color: #a1af7b;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  text-transform: uppercase;
  text-align: center;
}
li {
  size: 20px;
}
p {
  line-height: 1.5;
}
/*  make the paragraphe in the footer more small*/

/* make the paragraph instead of header of article men italic */
article header p {
  font-style: italic;
}
.related {
  list-style-type: none;
}
#footer {
  font-size: 14px;
  text-align: center;
}
.related-author {
  color: burlywood;
  font-size: 18px;
  font-weight: bold;
}
.main-header {
  background-color: #e7e6e6;
}
aside {
  background-color: #e7e6e6;
  border-top: 5px solid #158989;
  border-bottom: 5px solid #158989;
}
/* a {
  color: #ff0000;
} */
/* a:link {
  color: #0000ff;
  text-decoration: none;
}
a:visited {
  color: #008000;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  text-decoration: underline dotted #ff0000;
}
a:active {
  background-color: antiquewhite;
}
a {
  color: red;
} */
#copyright {
  color: #ff0000;
}
.copyright {
  color: #008000 !important;
}
.text {
  color: #0000ff;
}
footer p {
  color: #ffff00;
}
/* a:link {
  color: white;
} */
nav {
  background-color: #0000ff;
  /*  the element a doesn't accept inheritance */
  /* color: white; */
}
/* nav a {
  color: white;
} */
